@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}

h4 {
  @apply text-3xl;
}

h5 {
  @apply text-2xl;
}

h6 {
  @apply text-xl;
}

p {
  @apply text-lg;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-webkit-scrollbar {
  height: 0px !important;
  width: 0px !important;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 0px;
}

::selection {
  @apply bg-primary text-white;
}

.absolute-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
